* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
 
.contenedor{
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
}
.btn {
    background-color: transparent;
    color:rgba(68, 68, 68, 0.384);
    border:solid 3px rgba(68, 68, 68, 0.384);
    border-radius: 10px ;
    font-family: "Dongle", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 30px;
    padding-inline: 15px;
    cursor: pointer;
}
.btn:hover {
    color: rgba(19, 19, 19, 0.384) ;
    border-color: rgba(19, 19, 19, 0.384);
}